html,
body {
  font-family: 'Comfortaa', cursive;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  color: white;
}
.psv-navbar {
  display: none !important;
}

#__next {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}