.indexAuth {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.bg {
    background-image: radial-gradient(circle at top left, purple 5%, #222256 40%);
    position: fixed;
    top: 0;
    min-height: 100%;
    z-index: -1;
    min-width: 100%;
}