.bg {
    background-image: repeating-linear-gradient(135deg,purple -15%, #222256 86%, purple);
    position: fixed;
    top: 0;
    min-height: 100%;
    z-index: -2;
    min-width: 100%;
}
.map {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    .map {
        border-radius: 50%;
    }
    h1 {
        margin-bottom: 15px;
    }
    .desc {
        display: flex;
        flex-direction: column;
        max-width: 20vw;
    }
}
.container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
    .mapInfo {
        background-color: #1A1A2E;
        text-transform: uppercase;
        padding: 25px;
        gap: 10px;
        border-radius: 15px;
        width: 250px;
        display: flex;
        flex-direction: row;
        h3 {
            font-weight: 900;
            font-size: 30px;
            color: inherit;
        }
        p {
            color: rgb(255 88 255);
            font-weight: bold;
        }
        .btn {
            border:none;
            cursor: pointer;
            background-color: transparent;
        }
    }
    .mapDesc {
        display: flex;
        flex-direction: column;
        &.easy {
            color: #00c500;
        }
        &.hard {
            color: red;
        }
    }
}
.container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}